@import url(./ASSETS/Font/SoDo-Sans/stylesheet.css);

:root {
  --green: 160, 100, 22;
  --green-hex: #00704b;
  --black: hsl(45, 11, 14);
  --black-hex: #202823;
  --white-hex: #FFF;
  --beige: 11, 71, 72;
  --full-green: hsl(var(--green));
  --shadow-black: hsl(45, 11, 14, 0.2);
  --red-hex: #ff2222;
}

* {
  margin: 0;
  font-family: "SoDo Sans";
}

.center {
  place-items: center;
}

.grid {
  display: grid;
}

.flex{
  display: flex;
}

.reverse-flex {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.grid-horizontal {
  grid-template-columns: repeat(1fr);
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  column-gap: 20px;
  align-items: center;
}

nav{
  height: 100px;
  width: 100%;
  box-shadow: 0px 0px 10px var(--black-hex);
}

.logo > svg {
  height: 55px;
  fill: var(--green-hex);
}

ul {
  list-style: none;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--black-hex);
  padding: 0;
  height: 100%;
  margin-top: 1rem !important;
}

ul > div {
  height: inherit;
}

ul > div > li{
  height: inherit;
  display: flex;
  align-items: center;
}

.active {
  height: 90%;
  padding-top: 5px;
  border-bottom: 5px solid var(--green-hex);
}

li > a {
  text-decoration: none;
  color: inherit;
}

li > a:hover{
  color: var(--green-hex);
}

li > a:hover .navi{
  fill: var(--green-hex);
}



.CAPS{
  text-transform: uppercase;
}

.username{
  align-items: center;
  justify-content: space-between;
  font: inherit;
  height: inherit;
  border: none;
  background-color: var(--white-hex);
  color: inherit;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--black-hex);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown:hover .username{
  color: var(--green-hex);
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.navi {
  width: auto;
  height: 30px;
  padding-right: 5px;
  fill: var(--black-hex);
}

.nav-button {
  border: 1px solid var(--black-hex);
  border-radius: 100vh;
  padding: 10px;
  background-color: var(--white-hex);
  color: var(--black-hex);
  transition: 0.3s;
  font-weight: 600;
}

.nav-button > a{
  text-decoration: none;
  color: inherit;
  padding: 10px 20px;
}

.green-button:hover {
  background-color: var(--green-hex);
  color: var(--white-hex);
  border: 1px solid var(--green-hex);
}

.red-button:hover {
  background-color: var(--red-hex);
  color: var(--white-hex);
  border: 1px solid var(--red-hex);
}

.menu-image {
  border-radius: 100vh;
  height: 110px;
}